DB_HOST=host
DB_PORT=port
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database # megak_headhunter

JWT_SECRET=your_jwt_secret

EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_USER=user
EMAIL_PASSWORD=pwd

CORS_ORIGIN=cors_origin # http://localhost:5173

USE_SMTP_MOCK=1 # 0 - false | 1 - true (mailslurper)

APP_PATH=app_path # http://localhost:3001

CREATE_ADMIN_PASS=very_hard_password

COOKIE_SECURE=0 # 0 - false | 1 - true 
COOKIE_DOMAIN=domain
COOKIE_HTTP_ONLY=1 # 0 - false | 1 - true 
COOKIE_MAX_AGE=time_in_miliseconds